@inject HttpClient _client

<EditForm Model="@appointment" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>User: </label>
            <div>
                <InputSelect @bind-Value="appointment.UserId" class="form-control">
                    <option value="">-- Select User --</option>
                    @if (Users != null)
                    {
                        foreach (var user in Users)
                        {
                            <option value="@user.Id">@user.Username </option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => appointment.UserId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Appointment Date: </label>
            <div>
                <InputDate @bind-Value="@appointment.DateOut" class="form-control" />
                <ValidationMessage For="@(() => appointment.DateOut)" />
            </div>
        </div>

        @if (appointment.Id > 0)
        {
            <div class="form-group">
                <label>Date In: </label>
                <div>
                    <InputDate @bind-Value="@appointment.DateIn" class="form-control" />
                    <ValidationMessage For="@(() => appointment.DateIn)" />
                </div>
            </div>
        }
    </fieldset>

    <br />
    <br />

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="appointments" />
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Appointment? appointment { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<User>? Users;

    protected async override Task OnInitializedAsync()
    {
        Users = await _client.GetFromJsonAsync<List<User>>($"{Endpoints.UsersEndpoint}");
    }
}
